@model List<Category>
<div class="header">
    <h1>Categories</h1>
    <a class="create-button" asp-action="AddCategory" asp-controller="Home">Create Category</a>
</div>
<div class="colored-line"></div>
<div class="main">
    <form action="DeleteCategory" method="post">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Id: @item.Id</p>
                    <p class="card-text">Created Date: @item.CreatedDate</p>
                    <button type="submit" name="id" value="@item.Id" class="danger">Delete</button>
                    <a asp-action="EditCategory" asp-controller="Home" asp-route-name="@item.Name" class="btn-primary">Edit</a>
                </div>
            </div>
        }
    </form>
</div>
